* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Asul', sans-serif;
}


@import "pages/index";
@import "pages/web";
@import "pages/ps";
@import "helpers/fonts";
@import "helpers/buttons";
