footer {
    position: relative;
    text-align: center;
    color: white;
    padding: 1em 0;
    border-top: 1px dashed fade-out(white, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.wrap {
    min-height: calc(100vh - 133px);
}

.biography {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    img {
        padding: 0 1em;
        width: 94;
        height: 100px;
    }
    .biotext {
        text-align: left;
        padding: 0 1em;
    }
}

