.jumbotron {
    background-color: #544094;
    text-align: center;
    padding: 1.2em 1em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    cursor: default;
    h1, h2 {
        margin: 0;
        
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1em;
        padding-top: 1em;
    }
}


@media screen and (min-width:690px) {
    .jumbotron {
        height: 400px;
        font-size: 1.6em;
        box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }
    
    
}