@import "../layout/header";
@import "../layout/footer";
@import "../layout/jumbotron";

body#homepage {
    background-color: #414141;
    h4 {
        color: #B097FF;
    }
}



.col {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1em;
    cursor:default;
    border-top: 4px dotted white;

    h1 {
        font-size: 3em;
        margin:0;
        
    }
    p {
        padding: 1em 0;
        font-size: 1.2em;
    }
    ul {
        padding-bottom: 1.5em;
        li {
            padding: .5em 0;
            list-style:square;
            font-size: 1.1em;
        }
    }
    .button {
            margin: 2em 0;
        a {
            padding: 1em 2em;
            border-radius: 10px;
            background-color: white;
            border: 0px;
            font-weight: 600;
            font-size: 1.2em;
            color:black;
            &:hover {
                background-color: #9CBF56;
                color: white;
                transition: .2s;
                text-shadow: 1px 2px 1px black;
            }
        }

    }
}

.web_dev {
    h1 {
        color: #b2d76a;
    }
}

.photoshop {
    h1 {
        color: cornflowerblue;
    }
    .button{
        a{
           &:hover {
            background-color: cornflowerblue;
            } 
        }
        
    }
}




@media screen and (min-width:690px) {
    .index_container {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: baseline;
        button {
            padding: 1em 4em;
        }
        .col {
            border-top: 0;
            flex-basis: 45%;
            
        }
    }
}



