@import "../layout/header";
@import "../layout/footer";
@import "../layout/jumbotron";

body#ps_page {
    background-color: #414141;
    .jumbotron {
        background: #36D1DC;
        /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-gradient(linear, left top, right top, from(#5B86E5), to(#36D1DC));
        background: linear-gradient(to right, #5B86E5, #36D1DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    h4 {
        color: cornflowerblue;
    }
}

.ps_container {
    margin-top: 3em;
    text-align: center;
    color: white;
    padding: 1em;
    hr {
        margin: 1em 0;
    }
    h3 {
        margin: 1em 0;
    }
}

.gallery {
    margin: auto;
    img {
        width: 100%;
        margin: auto;
        border: 2px solid black;
        margin-bottom: 1em;
    }
    hr {
        border: 0.5px solid white;
    } //border: 1px solid black;
    figure {
        margin: auto;
        padding: 1.5rem 0;
        p {
            color: white;
            padding: 1em 0;
            a {
                display: block;
                padding: 1em 0;
            }
        }
        figcaption {
            color: white;
            border: 0.5px solid white;
            padding: 1rem 0;
            text-align: center;
            background-color: #c74949;
        }
        a {
            color: white;
            font-weight: 600;
            &:hover {
                color: cornflowerblue;
            }
        }
    }
}

@media screen and (min-width:690px) {
    .gallery hr {
        display: none;
    }
    .ps_container {
        width: 90%;
        margin: auto;
        margin-top: 3em;
        .gallery {

            img {
                width: 70%;
            }
            figure {
                figcaption {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .ps_container {
        .gallery {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
            -ms-flex-preferred-size: 500px;
            flex-basis: 500px;
            figure {
                margin: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-preferred-size: 35%;
                flex-basis: 35%;
                img {
                    width: 500px;
                }
                figcaption {
                    width: 500px;
                }
            }


        }
    }
}
