button {
    padding: 1em;
    border: none;
    color: white;
    border-radius: 45px;
    &:hover {
        color: black;
        cursor: pointer;
    }
}

#scrollTop {
    margin-top: 1em;
    background-color: cornflowerblue;
}