@import url('https://fonts.googleapis.com/css?family=Roboto'); //Roboto
@import url('https://fonts.googleapis.com/css?family=Asul'); //Asul
span {
    color: #FFA720;
}

span.red {
    color: #ff5656;
}

span.web_span {
    color: #9cbf56;
}

span.white {
    color: white;
}
